
.easyshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    /* background: red; */
    height: 100vh;
    
}
body.bg-base {
    background: rgba(0,206,151,1);
    background: -moz-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,206,151,1)), color-stop(100%, rgba(0,127,157,1)));
    background: -webkit-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -o-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: linear-gradient(to bottom, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ce97', endColorstr='#007f9d', GradientType=0 );
}
.easyshop .logo {
    padding: 1em;
    margin: 0 !important;
}
.easyshop .label-login {
    margin: 15px 0 -10px;
}
.home-banner img {
    width: 100vw;
}
.list li:nth-child(1),
.list li:nth-child(2) {
    display: none
}
.easyshop .vtex-login-2-x-formTitle {
    display: none;
}
.easyshop .vtex-login-2-x-content {
    background-color: transparent;
}
.easyshop .vtex-login-2-x-content button {
    background-color: #ffffffa8;
    height: 75px;
    border-radius: 15px;     
    border: none;
}