@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.vtex-store__template.bg-base {
    background-color: transparent;
}

body.bg-base {
    color: #fff;    
    height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
    background: rgba(0,206,151,1);
    background: -moz-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,206,151,1)), color-stop(100%, rgba(0,127,157,1)));
    background: -webkit-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -o-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    background: linear-gradient(to bottom, rgba(0,206,151,1) 0%, rgba(0,127,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ce97', endColorstr='#007f9d', GradientType=0 );
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: 0 !important;
    background-color: transparent;
}
.header .shop-name img {
    height: 35px;
}
.header .shop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
}
.header img {
    height: 50px;
}
.float-form {
    position: fixed;
    width: 100%;
    z-index: 9;
    left: 1%;
    height: 85vh;
    text-align: center;
    bottom: -100%;
    /* bottom: 0; */
    transition: all .5s;
}

.float-form.isOpen {
    bottom: 0;
}

form.float-form .formscroll header > button {
    position: absolute;
    left: 10px;
    top: 0;
    padding: 0;
    width: auto;
    background: none;
    border: none;
}

form.float-form .formscroll header > button div {
    padding: 0;
    font-size: 38px;
    color: #000;
}

.float-form .formscroll {
    overflow: auto;
    height: 100%;
}

.float-form  .button_group.flex.flex-row {
    justify-content: space-around;
}

.float-form img {
    max-height: 300px;
}

.product-wrapper h1 {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.float-form .vtex__icon-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #00CE97;
}

.float-actions .bg-action-primary {
    background: #00CE97 !important;
    border: #00CE97 !important;
}

.float-actions .c-action-primary {
    color: #00CE97 !important;
}

.float-form header {
    padding: 15px;
}



.float-actions {
    position: fixed;
    display: none;
    width: 100%;
    left: -1%;
    bottom: 0;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0 2px 4px #ddd;
}

.float-form.isOpen .float-actions  {
    display: block;
}

.product-wrapper {
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    padding-bottom: 100px;
}

.image-cart .quantity {
    color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 10px;
    background: red;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    position: absolute;
    top: -5px;
    right: -3px;
}

.image-cart {
    position: relative;
}
/* .float-form.isOpen {
    bottom: 0;
} */

.menu-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    justify-content: center
}
.menu-pointer {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
}
.menu-pointer img {
    margin-right: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.vtex-modal__modal, .product-wrapper {
    color: #000;
}

.vtex-modal__modal p {
    color: #000;
    text-align: center;
}